/*Universal Selector*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #112A46;
  font-family: 'poppins', 'sans-serif';
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(./galaxy.jpg) no-repeat center center/ cover;
}
.container{
  min-height: vh;
  width: 700px;
  border-radius: 20px;
  background: rgba(172, 200, 229, 0.7);
}
.heading{
  font-size: 1.5rem;
  margin-top: 20px;
  font-weight: bold;
}
.main-content{
  margin-top: 50px;
}
.main-content .text{
  font-size: 1.2rem;
  padding: 30px;
}
.main-content .person{
  font-size: 1.5rem;
  font-weight: bolder;
}
button{
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}
button:active{
  background-color: #112A46;
  color: #acc8e5;
}